<h1>Bascket</h1>
{{#if cards.length}}
<table id="card">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each cards}}
      <tr>
        <td>{{title}}</td>
        <td>{{count}}</td>
        <td>{{price}}</td>
        <td>
          <form method="post" action="/card/remove">
            <input type="hidden" name="id" value="{{id}}">
            <button  class="bt btn-small">delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p><strong>Total</strong> 
  <span class="price">
     {{total}}
  </span></p>
{{else}}
  <h4>Empty</h4>
{{/if}}


